# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Thư viện nặng
*.pyd
*.dll
*.exe

# File lớn / không cần thiết
*.zip
*.tar
*.rar

# IDE
.vscode/
.idea/

# Environment (API keys)
.env

# Debug & uploads
chinese-ocr-app/debug/
chinese-ocr-app/uploads/

# OS
.DS_Store
Thumbs.db