aiosqlite==0.22.1
albucore==0.0.24
albumentations==2.0.8
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
astor==0.8.1
attrdict==2.0.1
babel==2.18.0
bce-python-sdk==0.9.69
bcrypt==4.0.1
beautifulsoup4==4.14.3
blinker==1.9.0
bs4==0.0.2
cachetools==7.0.5
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.2
crc32c==2.8
cryptography==46.0.5
cssselect==1.4.0
cssutils==2.11.1
cycler==0.12.1
Cython==3.2.4
decorator==5.2.1
easyocr==1.7.2
ecdsa==0.19.1
et_xmlfile==2.0.0
exceptiongroup==1.3.1
fastapi==0.135.2
filelock==3.25.2
fire==0.7.1
Flask==3.1.3
flask-babel==4.0.0
flatbuffers==25.12.19
fonttools==4.62.1
fsspec==2026.3.0
future==1.0.0
greenlet==3.3.2
google-genai==2.2.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
humanfriendly==10.0
icrawler==0.6.10
idna==3.11
ImageHash==4.3.2
ImageIO==2.37.3
imgaug==0.4.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
lazy-loader==0.5
lmdb==2.2.0
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib==3.10.8
ml_dtypes==0.5.4
more-itertools==11.0.2
mpmath==1.3.0
networkx==3.4.2
ninja==1.13.0
numpy==1.26.4
onnx
onnxruntime==1.23.2
onnxslim==0.1.86
openai==2.36.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.11.0.86
ollama==0.6.2
openpyxl==3.1.5
opt-einsum==3.3.0
packaging==26.0
paddleocr==2.7.3
paddlepaddle==2.6.2
pandas==2.3.3
passlib==1.7.4
pdf2docx==0.5.12
pi_heif==1.3.0
pillow==12.1.1
polars==1.39.3
polars-runtime-32==1.39.3
premailer==3.10.0
protobuf==3.20.2
psutil==7.2.2
pyasn1==0.6.2
pyclipper==1.4.0
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
PyMuPDF==1.27.2.2
PyMySQL==1.1.2
pyparsing==3.3.2
pyreadline3==3.5.4
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.22
pytz==2026.1.post1
PyWavelets==1.8.0
PyYAML==6.0.3
RapidFuzz==3.14.5
rarfile==4.2
requests==2.33.0
rsa==4.9.1
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
selenium==4.25.0
shapely==2.1.2
simsimd==6.5.16
six==1.17.0
soupsieve==2.8.3
SQLAlchemy==2.0.46
starlette==0.52.1
stringzilla==4.6.0
sympy==1.14.0
termcolor==3.3.0
threadpoolctl==3.6.0
tifffile==2025.5.10
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
ultralytics==8.4.31
ultralytics-thop==2.0.18
urllib3==2.6.3
uvicorn==0.42.0
visualdl==2.5.3
watchfiles==1.1.1
webdriver-manager==4.0.2
websockets==16.0
Werkzeug==3.1.8
